

.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10%;
}

.container {
  display: flex;
  flex-direction: row ;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  

}

.tarjeta{
  
  margin: 10px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

